import React, { FC } from 'react'

import styles from './style.module.css'

export interface {{componentName}}Props {
  todo?: string
}

const {{componentName}}: FC<{{componentName}}Props> = () => {
  return (
    <div className={styles.root}>
      TODO {{componentName}}Props
    </div>
  )
}

export default {{componentName}}
